html {
	box-sizing: border-box;
	font-size: 62.5%;
	text-align: center;
	font-size: 1.25rem;
}

*, *::before, *::after {
	box-sizing: inherit;
}

:root {
	--background-color: black;
	--color: white;
}

body {
	background-color: var(--background-color);
	color: var(--color);
	padding: 0;
	margin: 0;
}

body > a {
	position: absolute;
	right: 0;
	top: 0;
	color: white;
}

input {
	text-align: center;
}


.current {
	text-align: center;
}

body > fieldset {
	padding: 0;
}

summary {
	position: absolute;
	left: 2rem;
}

.settings fieldset {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.settings fieldset > label {
	cursor: pointer;
}
.settings fieldset > label input {
	display: none;
}

.settings ul {
	list-style: none;
}

.settings ul li {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
.settings ul li > * {
	width: 100%;
}

.controls {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

.controls > label {
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 1fr;
}

.hidden {
	display: none;
}

#player {
	width: 95vw;
	margin: auto;
}
